@model IEnumerable<DotK_TechShop.Models.Db.Order>

@{
    Layout = "_ManageLayout";
    ViewData["Title"] = "Order";
}

<h1>@ViewData["Title"]</h1>

<div class="my-4">
    <a class="web-btn web-btn-primary" asp-action="Create">Create New</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinalTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="align-middle">
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Phone)
            </td>
            <td class="d-flex">
                <a class="ms-auto btn btn-warning" asp-action="Edit" asp-route-id="@item.OrderID">Edit</a>
                <a class="ms-3 btn btn-success" asp-action="Details" asp-route-id="@item.OrderID">Details</a>
                <a class="ms-3 btn btn-danger" asp-action="Delete" asp-route-id="@item.OrderID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
